@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bungee&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image: url(../img/tela.png);
    background-repeat: no-repeat;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

.cabecalho{
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content:space-around;
    padding: 0px;
}

.cabecalho-imagem{
    height: 75px;
}

.cabecalho-menu{
    display:table-caption;
    gap: 30px;
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #fff2e7;
    font-weight: 100;
    font-size: 15px;
}

.conteudo{
    margin-bottom: 20px;
    border-top: 0.4px solid #fff2e7;
}

.conteudo-principal{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}

.conteudo-principal-escrito{
    display: flex;
    flex-direction: column;
}

.conteudo-principal-escrito-titulo{
    font-family: 'Righteous', cursive;
    font-weight: 100;
    font-size: 40px;
}

.conteudo-principal-escrito-subtitulo{
    font-family: 'Sarala', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

nav{
    display: block;
}

nav a{
    color:dodgerblue;
}

form{
    display: block;
    margin-top: 0em;
}

label{
    cursor: default;
}

input, legend{
   padding: 2px 5px;
    border-radius: 3px;   
}

img, p{
    margin:0;
    padding: 0;
    justify-content: center;
}

.rodape{
    height: 48px;
    display: flex;
    margin: 0 auto;
}
