*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: block;
    font-size: 10px;
    width: 100px;
    height: auto;
}
.header h1 {
    text-align: center;
    color: black;
    margin-top: 0px;
    margin-bottom: 8px;
    font-weight: 500;
    line-height: 40px;
    box-sizing: border-box;
}
nav {
    border-spacing: 0;
    border-collapse: collapse
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 0px;
    margin-block-end: 16px;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li {
    display: list-item;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
p {
    margin-top: 0;
    margin-bottom: 16px;
}
form {
    display: block;
    margin-top: 0em;
}
input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url(searchicon.png);
    background-repeat: no-repeat;
    padding: 12px 20px;
}
.figure {
    display: inline-block;
}
footer {
    display: table-cell;
    text-indent: initial;
    margin: auto;
}